{
  "presets": [
    "flow",
    [
      "env", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    [
      "module-resolver", {
        "root": [
          "./"
        ],
        "alias": {
          "@extensions": "src/extensions",
          "@helpers": "src/helpers",
          "@config": "src/config"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}